CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_DEVICE_x86_64_DEVICE_generic=y
CONFIG_TARGET_DEVICE_PACKAGES_x86_64_DEVICE_generic=""

CONFIG_KERNEL_BUILD_DOMAIN="immortalwrt.org"
CONFIG_KERNEL_BUILD_USER="sdttttt"

# GCC
CONFIG_TOOLCHAINOPTS=y
# CONFIG_GCC_USE_VERSION_14=y
# CONFIG_GCC_VERSION="14.2.0"
# CONFIG_GCC_VERSION_14=y
# CONFIG_USE_GC_SECTIONS=y
# CONFIG_USE_LTO=y # 编译BPF影响xdp-tools，不开启

# glibc
CONFIG_LIBC_USE_MUSL=y
# CONFIG_LIBC_USE_GLIBC=y
# CONFIG_USE_GLIBC=y
# CONFIG_LIBC="glibc"

# Size
CONFIG_TARGET_KERNEL_PARTSIZE=64
CONFIG_TARGET_ROOTFS_PARTSIZE=960
CONFIG_TARGET_ROOTFS_SQUASHFS=y
# CONFIG_TARGET_ROOTFS_EXT4FS is not set


##############################################
# 官方预设
CONFIG_ALL_KMODS=y
CONFIG_ALL_NONSHARED=y
CONFIG_DEVEL=y
CONFIG_TARGET_PER_DEVICE_ROOTFS=y
# CONFIG_AUTOREMOVE is not set
# CONFIG_BPF_TOOLCHAIN_NONE is not set
# CONFIG_BUILDBOT=y
# CONFIG_BUILD_LOG=y
# CONFIG_COLLECT_KERNEL_DEBUG is not set
# CONFIG_HAS_BPF_TOOLCHAIN=y
# CONFIG_IB is not set
# CONFIG_IMAGEOPT=y
# CONFIG_JSON_CYCLONEDX_SBOM=y
# CONFIG_MAKE_TOOLCHAIN=y
CONFIG_PACKAGE_attendedsysupgrade-common=y
CONFIG_PACKAGE_libbpf=y
CONFIG_PACKAGE_libpcap=y
CONFIG_PACKAGE_libxdp=y
CONFIG_PACKAGE_luci-app-attendedsysupgrade=y
CONFIG_PACKAGE_luci-i18n-attendedsysupgrade-zh-cn=y
CONFIG_PACKAGE_qosify=y
CONFIG_PACKAGE_rpcd-mod-rpcsys=y
CONFIG_PACKAGE_tc-tiny=y
CONFIG_PACKAGE_xdp-filter=y
CONFIG_PACKAGE_xdp-loader=y
CONFIG_PACKAGE_xdpdump=y
# CONFIG_REPRODUCIBLE_DEBUG_INFO=y
# CONFIG_SDK is not set
CONFIG_SDK_LLVM_BPF=y
# CONFIG_TARGET_ALL_PROFILES=y
CONFIG_USE_LLVM_BUILD=y
# CONFIG_VERSIONOPT=y
#######################################################

### Zram
CONFIG_PACKAGE_zram-swap=y
CONFIG_ZRAM_DEF_COMP_LZ4=y

# kernel
CONFIG_KERNEL_SWAP=n
CONFIG_KERNEL_MPTCP=y
CONFIG_KERNEL_MPTCP_IPV6=y

### Kernel driver
CONFIG_PACKAGE_kmod-igb=y
CONFIG_PACKAGE_kmod-igc=y
CONFIG_PACKAGE_kmod-mlx4-core=y
CONFIG_PACKAGE_kmod-mlx5-core=y
CONFIG_PACKAGE_kmod-mt76x2=y
CONFIG_PACKAGE_kmod-mt7921e=y
CONFIG_PACKAGE_kmod-mt7921u=y
CONFIG_PACKAGE_kmod-mt7922-firmware=y
CONFIG_PACKAGE_kmod-ngbe=y
CONFIG_PACKAGE_kmod-r8101=y
CONFIG_PACKAGE_kmod-r8125=y
CONFIG_PACKAGE_kmod-r8126=y
CONFIG_PACKAGE_kmod-r8127=y
CONFIG_PACKAGE_kmod-r8168=y
CONFIG_PACKAGE_kmod-txgbe=y
# CONFIG_PACKAGE_kmod-r8169 is not set
CONFIG_PACKAGE_kmod-nvme=y


# kmod
CONFIG_PACKAGE_kmod-bonding=y
CONFIG_PACKAGE_kmod-br-netfilter=y
CONFIG_PACKAGE_kmod-button-hotplug=y
CONFIG_PACKAGE_kmod-crypto-chacha20poly1305=y
CONFIG_PACKAGE_kmod-crypto-sha256=y
CONFIG_PACKAGE_kmod-fs-exfat=y
CONFIG_PACKAGE_kmod-fs-f2fs=y
CONFIG_PACKAGE_kmod-fs-ntfs3=y
CONFIG_PACKAGE_kmod-fs-vfat=y
CONFIG_PACKAGE_kmod-fs-xfs=y
CONFIG_PACKAGE_kmod-ikconfig=y
CONFIG_PACKAGE_kmod-inet-diag=y
CONFIG_PACKAGE_kmod-ipsec4=y
CONFIG_PACKAGE_kmod-ipsec6=y
CONFIG_PACKAGE_kmod-ipt-nat6=y
CONFIG_PACKAGE_kmod-ipt-tproxy=y
CONFIG_PACKAGE_kmod-iptunnel6=y
CONFIG_PACKAGE_kmod-mac80211=y
CONFIG_PACKAGE_kmod-nf-socket=y
CONFIG_PACKAGE_kmod-nft-fullcone=y
CONFIG_PACKAGE_kmod-nft-offload=y
CONFIG_PACKAGE_kmod-nft-socket=y
CONFIG_PACKAGE_kmod-nft-tproxy=y
CONFIG_PACKAGE_kmod-sched-bpf=y
CONFIG_PACKAGE_kmod-sched-core=y
CONFIG_PACKAGE_kmod-sched=y
CONFIG_PACKAGE_kmod-tcp-bbr3=y
CONFIG_PACKAGE_kmod-tcp-brutal=y
CONFIG_PACKAGE_kmod-tls=y
CONFIG_PACKAGE_kmod-tun=y
CONFIG_PACKAGE_kmod-usb-audio=y
CONFIG_PACKAGE_kmod-usb-hid=y
CONFIG_PACKAGE_kmod-usb-storage-uas=y
CONFIG_PACKAGE_kmod-usb2-pci=y
CONFIG_PACKAGE_kmod-usb2=y
CONFIG_PACKAGE_kmod-usb3=y
CONFIG_PACKAGE_kmod-veth=y
CONFIG_PACKAGE_kmod-xdp-sockets-diag=y

# ipv6
CONFIG_PACKAGE_ipv6helper=y

# package
# CONFIG_PACKAGE_dae is not set
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_atop=y
CONFIG_PACKAGE_coremark=y
CONFIG_PACKAGE_autocore=y
CONFIG_PACKAGE_ip-full=y
CONFIG_PACKAGE_ipset=y
CONFIG_PACKAGE_coreutils-timeout=y
CONFIG_PACKAGE_open-vm-tools=y

# luci-app
CONFIG_PACKAGE_luci-app-cpufreq=y
CONFIG_PACKAGE_luci-app-ramfree=y
# CONFIG_PACKAGE_luci-app-netdata is not set
# CONFIG_PACKAGE_luci-app-mosdns is not set
CONFIG_PACKAGE_luci-app-autoreboot=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-openclash=y
CONFIG_PACKAGE_luci-app-vnstat2=y
CONFIG_PACKAGE_luci-app-nikki=y
CONFIG_PACKAGE_luci-app-diskman=y
CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_luci-app-daed=y

# tools & app
CONFIG_PACKAGE_bash=y
CONFIG_PACKAGE_dmesg=y
CONFIG_PACKAGE_taskset=y
CONFIG_PACKAGE_lrzsz=y
CONFIG_PACKAGE_nano-full=y
CONFIG_PACKAGE_chinadns-ng=y


# upnp
CONFIG_PACKAGE_kmod-nf-nathelper=y
CONFIG_PACKAGE_kmod-nf-nathelper-extra=y
CONFIG_PACKAGE_libnatpmp=y
CONFIG_PACKAGE_libupnp=y
CONFIG_PACKAGE_libupnpp=y

# luci master分支不带WEB面板
CONFIG_PACKAGE_luci=y
CONFIG_LUCI_LANG_zh_Hans=y
CONFIG_PACKAGE_luci-compat=y
CONFIG_PACKAGE_default-settings-chn=y

### ZLIB
CONFIG_ZLIB_OPTIMIZE_SPEED=y
