bind-addr 0.0.0.0
bind-port 53

china-dns tls://223.5.5.5
china-dns tls://119.29.29.29
trust-dns 127.0.0.1#7874

chnlist-file /root/chnlist.txt
default-tag gfw
# chnlist-first

add-tagchn-ip chnip
add-taggfw-ip gfwip

ipset-name4 chnroute

cache 4096
cache-stale 86400
cache-refresh 20

verdict-cache 4096

hosts /etc/hosts
